
{%
set showcases =  h.cdc_theme_showcases(6)
%}
 <div class="module-content box">
      <header>
          <h2 class="secondary-heading">Apps/visulizaciones destacadas</h2>       
      </header>
      <section>
         
          {% for package in showcases %}                          
                   {% snippet 'showcase/snippets/showcase_item.html', package=package, item_class=item_class, truncate=truncate, truncate_title=truncate_title, show_remove=show_remove %}
         {% endfor %}                  
         
      </section>
</div>
