
{%
set showcases =  h.cdc_theme_showcases(6)
%}
 <div class="module-content box">
      <!--
      <header>
          <h2 class="secondary-heading">Apps/visulizaciones destacadas</h2>       
      </header>
      -->
      <section>
        <ul>
         {% for package in showcases %}                                
            <img class="browse-showcase-image" src="{{ package.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ package.name }}" class="media-image">
            <div class="browse-topic-title">{{ h.link_to(h.truncate(package.title or package.name, 80), h.url_for(controller='package', action='read', id=package.name)) }}</div>
         {% endfor %}                  
       </ul>
        
       
      </section>
</div>
