{%
set top_rated_datasets =  h.cdc_theme_top_rated_datasets(3)
%}

{% resource "rating_css/rating.css" %}

 <div class="box">
     <!-- <header>
          <h2 class="secondary-heading">{{ _('Featured popular') }}</h2>       
      </header>
      -->
      <section>
       
           {% for package, rating, num_ratings in top_rated_datasets %}
              <tr>
                <th>{{ h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name)) }}</th>
                <td class="metric">{{ rating }}</td>
                <td class="metric">{{ num_ratings }}</td>
              </tr>
          {% endfor %}
                      
         
    
      </section>
</div>
