{%
set popular_datasets =  h.cdc_theme_popular_datasets(4)
%}

{% resource "rating_css/rating.css" %}

 <div class="module-content box">
     <!-- <header>
          <h2 class="secondary-heading">{{ _('Featured popular') }}</h2>       
      </header>
      -->
      <section>
           <ul id="popular-list" class="unstyled dataset-list">
          {% for package in popular_datasets %}
              {% set stars = h.package_rating(None, {'package_id' : package.id} ).rating %}
              <li class="dataset-item">
                 <div class="dataset-content">
                    <h3 class="dataset-heading">{{ h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name)) }}</h3>
                    
                    <div class="rating-wrapper">
                       <span class="rating-value">{{stars}}</span>
                       <div class="rating-stars-wrapper">
                          <span class="star-rating{% if stars == 0 %} no-stars{% endif %}">
                          <span class="star-rating-stars">
                          {%- for index in range(stars|int) -%}
                            <span class="icon icon-star rating-star"></span>
                          {%- endfor -%}
                         {%- for index in range(stars|int, 5) -%}
                           <span class="icon icon-star-empty rating-star"></span>
                         {%- endfor -%}
                      </span>
                  </span>
                     </div>
                   
                  <div>{{ h.package_rating(None, {'package_id' : package.id} ).rating|float }}</div>
                  </div>
              </li>
          {% endfor %}
          </ul>
      </section>
</div>
