{%
set popular_datasets =  h.cdc_theme_popular_datasets(4)
%}

{% resource "rating_css/rating.css" %}

 <div class="box">
     <!-- <header>
          <h2 class="secondary-heading">{{ _('Featured popular') }}</h2>       
      </header>
      -->
      <section>
           <ul id="popular-list" class="unstyled dataset-list">
          {% for pkg in popular_datasets %}
              {% snippet "rating/snippets/rating_single_flat.html", package=pkg, enable_input="false" %}
          </ul>
          {% endfor %}
      </section>
</div>
