{%
set showcases =  h.cdc_theme_showcases(6)
%}
      
       {% for package in showcases %}            
       <div class="vizcarousel-desc">
         <h1 class="vizcarousel-desc-text"><a target="_blank" href="{{ h.url_for(controller='package', action='read', id=package.name) }}">Visualizador Impuestos</a></h1>
         <p class="vizcarousel-desc-text author">by <a target="_blank" href="http://davewalk.net/">Civio</a></p>
         <p class="vizcarousel-desc-text"> {{ h.truncate(package.title or package.name, 80) }} <a href="/dataset/crime-incidents">dataset built</a>.</p>
         </div>
       
       </div>
       {% endfor %}                  
         
