{% block header_wrapper %}


 <!-- CORUÑA -->
 <div class="headers">
  <header class="ogov-masthead">
    <div class="container">
      <div class="row">
       
        <div class="span4"> 
       {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
       {% endblock %}
        </div>  
              
        <div class="span8">
          <div class="ogov-nav">
            <nav>
              <ul class="unstyled">
                <li>Datos abiertos</li> |
                <li>Transparencia</li> |
                <li>Participación</li> |
                <li>A Porta Aberta</li>
              </ul>
          </nav>
          </div>  
      </div>
        
    </div>
    </div>  
  </header>  
  <!-- CORUÑA -->

  {% block header_account %}
  <header class="account-masthead">
    <div class="container">
    
  
    {# The .header-image class hides the main text and uses image replacement for the title #}
    <hgroup class="{{ g.header_class }} pull-left">

      {% block header_logo %}
        {% if g.site_logo %}
          <a class="logo" href="{{ h.url_for('home') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
          <h2 class="site-title">{{ g.site_title }}</h2>
        {% else %}
          <h1>
            <a href="{{ h.url_for('home') }}">{{ g.site_title }}</a>
          </h1>
          {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
        {% endif %}
      {% endblock %}

    </hgroup>
  
  
   
      {% block header_account_container_content %}
       {{ super() }}
      {% endblock %}
      
   </div>
    </header>  
{% endblock %}
  
  
<header class="navbar navbar-static-top masthead">
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container">
    <!--
     block header logo deleted
   -->

     <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
      <span class="fa-bar"></span>
      <span class="fa-bar"></span>
      <span class="fa-bar"></span>
    </button>
   
    
    <div class="nav-collapse collapse">

      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('group_index', _('Topics')),
                ('about', _('About'))
              ) }}
            {% endblock %}
          </ul>
        </nav>
      {% endblock %}

      {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
            <input id="field-sitewide-search" type="text" name="q"/>
            <button class="btn-search" type="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      {% endblock %}

    </div>
  </div>
</header>
</div>  
{% endblock %}
