<!--

This file overrides the layout1.html in
/usr/lib/ckan/default/src/ckan/ckan/templates/home/.

In the future, we could likely push a new item to the front page layouts
dropdown in the settings page and rename this file layout4.html.

-->


{%
set showcases =  h.cdc_theme_showcases(10)
%}
 

<div class="outer" style="background:url(../img/background-coruna-lg-gray-17.png) no-repeat left bottom">
  
    <div class="container">
      <div class="row row1">
        <div class="span6 col1">
          <div class="module-content">
            <h1 class="hero-text-heading hero-text">{{ _('A Coruña Open Data Portal')}}</h1>
            <p class="hero-text-description hero-text">{{ _('datos.coruna.gal is the open data catalog about the City of A Coruña and its local government')}}</p>
          </div>
        </div>
        <div class="span4 col1">
          <div class="carousel-controls">
            <a class="carousel-control left" href="#vizcarousel" data-slide="prev"><img src="/img/larrow.svg"></a>
            <a class="carousel-control right" href="#vizcarousel" data-slide="next"><img src="/img/rarrow.svg"></a>
          </div>
          <div id="vizcarousel" class="carousel">
            <div class="spinner"></div>
            <div class="carousel-inner">  
	    {% set counter=0 %}
            {% for package in showcases %}	    
	      {% if counter==0 %}
		<div class="active item in" data-url="/{{h.lang()}}/showcase/carousel_view/{{package.name}}" data-slide-number="0"></div>		  
		{% set counter=1 %}
	      {% else %}    		
              	<div class="item" data-url="/{{h.lang()}}/showcase/carousel_view/{{package.name}}"></div>
	      {% endif %}
	    {% endfor %} 		            
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>


<!--
<div class="hero inner">
</div>
-->


<!-- eliminado de los main- role main -->  
<div  class="main-search">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% snippet 'home/snippets/search.html' %}               
      </div>
      <div class="span6 col2">
         <div class="module-content box getstarted">
          {% set stats = h.get_site_statistics() %}
          <p>
            {{ _('Start by exploring the ')}}            
            <a href="{{ h.url_for(controller='package', action='search') }}">
            <b>{{ h.SI_number_span(stats.dataset_count) }}</b> 
            {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
            </a> 
            {{ _('and its ')}}
             <a href="{{ h.url_for(controller='package', action='search') }}">
            <b>{{ h.cdc_theme_resource_count() }}</b> 
            {{ _('resource') if h.cdc_theme_resource_count == 1 else _('resources') }}
            </a>
            {{ _('from ')}} 
            <a href="{{ h.url_for(controller='organization', action='index') }}">
            <b>{{ h.SI_number_span(stats.organization_count) }}</b>
            {{ _('organization') if stats.organization_count == 1 else _('organizations') }}
            </a>
            {{ _('in the city about topics classified on ')}}
            <a href="{{ h.url_for(controller='group', action='index') }}">
            <b>{{ h.SI_number_span(stats.group_count) }}</b>
             {{ _('group') if stats.group_count == 1 else _('groups') }}
            </a>             
          </p>
        </div>
      </div>
    </div>
	  

    <div class="row row2">
      <div class="span12 col1">
        {% set tags = h.get_facet_items_dict('tags', limit=20) %}
        <div class="module-content tags">
          <h3>{{ _('Popular tags') }}</h3>
          {% for tag in tags %}
          <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">     
        <div class="module-content box">
          <h1 class="browse-heading ">{{ _('Explore by topic')}}</h1>          
              {% for topic in h.cdc_theme_groups() %}		
                <a href="{% url_for controller='group', action='read', id=topic.name %}" class="browse-topic">
                    <img class="browse-topic-image" src="{{ topic.image_display_url or '/img/icons-document.svg' }}">
                  <div class="browse-topic-title">
	           
		    	        
                    {{ h.get_translated(topic, 'title') or topic.display_name }}                  
			
			  
			  
                  </div>
<!-- datasets count -->                    
                  {% if topic.package_count %}
                      <span class="count"> {{ topic.package_count }} </span>
                  {#   <!-- <span class="count">{{ ungettext('{num} Dataset', '{num} Datasets', topic.package_count).format(num=topic.package_count) }}</span> --> #}
                  {% elif topic.package_count == 0 %}
                       <span class="count"> 0 </span>
                  {#    <!-- <span class="count">{{ _('0 Datasets') }}</span> --> #}
                  {% endif %}

                  
                </a>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>


<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">     
        <div class="module-content box">
          <h1 class="browse-heading ">{{ _('Explore by collection')}}</h1>          
              {% for topic in h.cdc_theme_collections() %}		
                <a href="{% url_for controller='ckanext.collection.controller:CollectionController', action='read', id=topic.name %}" class="browse-topic">
                    <img class="browse-topic-image" src="{{ topic.image_display_url or '/img/icons-document.svg' }}">
                  <div class="browse-topic-title">
                    {{ h.get_translated(topic, 'title') or topic.display_name }}                   
                  </div>
<!-- datasets count -->                    
                  
		{% if topic.package_count %}					
                      <span class="count">
		        {{ topic.package_count }}
		    </span>
                     {# <span class="count">{{ ungettext('{num} Dataset', '{num} Datasets', topic.package_count).format(num=topic.package_count) }}</span> #}
                  {% elif topic.package_count == 0 %}
                       <span class="count"> 0 </span>
                      {# <span class="count">{{ _('0 Datasets') }}</span> #}
                  {% endif %}

                  
                </a>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>



<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        <div class="module-content box">
           <h1 class="browse-heading">{{ _('Explore by organization')}}</h1>
              
<!-- <ul class="media-grid" data-module="media-grid"> -->
<!--        <ul> -->
  {% for organization in h.cdc_theme_organizations() %}
               <a href="{% url_for controller='organization', action='read', id=organization.name %}" class="browse-topic">
                    <img class="browse-topic-image" src="{{ organization.image_display_url }}">
                  <div class="browse-topic-title">
                    {{ h.get_translated(organization, 'title') or organization.display_name }}                   
                  </div>
                 
                 
                 <!-- datasets count -->                    
                  {% if organization.package_count %}
                      <span class="count"> {{ organization.package_count }} </span>
                     
                  {% elif organization.package_count == 0 %}
                       <span class="count"> 0 </span>
                     
                  {% endif %}
                 
                </a> 
{% endfor %}

<!-- </ul> -->

        </div>
          
        </div>
      </div>
    </div>
  </div>



<!--

<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        <div class="module-content box">
           <h1 class="browse-heading">{{ _('Explore by collection')}}</h1>
              
        </div>
          
        </div>
      </div>
    </div>
  </div>
-->


  {% set posts = h.get_recent_blog_posts(number=3) %}

  <div class="main-news front">	  
    <div class="container">
   <div class="row row1">
   <div class="module-content">	   
    <h1 class="browse-heading">
      {{ _('Blog') }}
    </h1>
          {% for post in posts %}	
       <div class="page-list-item dataset-item">	   
	       
	 <!--      	   
	    {% if post.image %}
  	    <div class="span3 image">
             <img src="{{ post.image }}" width="50px">
	    </div>
	    {% endif %}
          -->
            <div class="blog-title">
                <h3 class="dataset-heading">
                    <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                    <br>
                    {% if post.publish_date %}
                        <small> {{ h.render_datetime(post.publish_date) }} </small>
                    {% endif %}
                </h3>
            </div>
            <div class="blog-content">
                {{ h.markdown_extract(post.content,extract_length=250) }}             
            </div>
	   </div>     
        {% endfor %}
	   </div> 
	    </div>   
    </div>
</div>


<!--
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
-->

<div class="main-featured front">
  

 
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
       <div class="module-content box">
          <!-- class featured-heading -->
          <h1 class="browse-heading">{{ _('Showcases')}}</h1>    
         
          {% snippet 'home/snippets/showcases.html' %}
          
        </div> 
      </div>
    </div>
  </div>
</div>


<div role="main" class="main-updates front">
  <div class="container">
    <div class="row row2">
      <div class="module-content box">
      <h1 class="browse-heading">{{ _('Datasets')}}</h1>             
          
          <div class="tabs">
            <div class="tab-3">
              <label for="tab3-1">{{ _('Latest datasets') }}</label>
                <input id="tab3-1" name="tabs-three" type="radio" checked="checked">              
                {% snippet 'home/snippets/latest_datasets.html' %}
              
            </div>
            
            <div class="tab-3">
              <label for="tab3-2">{{ _('Featured popular') }}</label>
              <input id="tab3-2" name="tabs-three" type="radio">                
                {% snippet 'home/snippets/featured_popular.html' %}              
            </div> 
            
            <div class="tab-3">
              <label for="tab3-3">{{ _('Top rated') }}</label>
              <input id="tab3-3" name="tabs-three" type="radio">                 
                {% snippet 'home/snippets/top_rated.html' %}              
            </div> 
            
      </div>
    </div>                                 
   </div>
</div>

	

	
  
<svg class="chart" width="100%" style="background-color:white;border-bottom: 1px dotted #aaa;margin-bottom:-24px" preserveAspectRatio="slice" height="50" viewBox="0 0 1000 50">
<g transform="scale(1,-1) translate(0,-50)" stroke-width="1" stroke="#aaa" stroke-dasharray="2 2">
    <g stroke="#ccc" stroke-dasharray="1 5">
		<line x1="-1000" y1="25" x2="2000" y2="25"></line>
		<line x1="-1000" y1="50" x2="2000" y2="50"></line>
	</g>
	<g fill="#ddd" y="0">
		<rect x="-500" height="5" width="20"></rect>
		<rect x="-400" height="10" width="20"></rect>
		<rect x="-300" height="35" width="20"></rect>
		<rect x="-200" height="8" width="20"></rect>
		<rect x="-100" height="48" width="20"></rect>
		
		<rect x="0"  height="10" width="20"></rect>
		<rect x="100" height="5" width="20"></rect>
		<rect x="200" height="10" width="20"></rect>
		<rect x="300" height="35" width="20"></rect>
		<rect x="400" height="8" width="20"></rect>
		<rect x="500" height="48" width="20"></rect>
		<rect x="600" height="36" width="20"></rect>
		<rect x="700" height="36" width="20"></rect>
		<rect x="800" height="36" width="20"></rect>
		<rect x="900" height="36" width="20"></rect>		
	</g>
 
	<g fill="#bbb" y="0" stroke-dasharray="2 2" >
		<rect x="50" height="12" width="20"></rect>
		<rect x="150" height="43" width="20"></rect>
		<rect x="250" height="2" width="20"></rect>
		<rect x="350" height="9" width="20"></rect>
		<rect x="450" height="32" width="20"></rect>
		<rect x="550" height="22" width="20"></rect>
		<rect x="650" height="34" width="20"></rect>
		<rect x="750" height="7" width="20"></rect>
		<rect x="850" height="26" width="20"></rect>
		<rect x="950" height="19" width="20"></rect>

		<rect x="1050" height="43" width="20"></rect>
		<rect x="1150" height="2" width="20"></rect>
		<rect x="1250" height="9" width="20"></rect>
		<rect x="1350" height="32" width="20"></rect>
		
	</g> 

	<g fill="#eee" y="0">
		<rect x="25" height="28" width="20"></rect>		
		<rect x="125" height="14" width="20"></rect>		
		<rect x="225" height="16" width="20"></rect>		
		<rect x="325" height="39" width="20"></rect>
		<rect x="425" height="7" width="20"></rect>
		<rect x="525" height="49" width="20"></rect>
		<rect x="625" height="5" width="20"></rect>
		<rect x="725" height="19" width="20"></rect>		
		<rect x="825" height="46" width="20"></rect>
		<rect x="925" height="22" width="20"></rect>		
	</g>
	
	<g fill="#aaa" fill-opacity="1" y="0">
		<rect x="75" height="23" width="20"></rect> 
		<rect x="175" height="45" width="20"></rect>
		<rect x="275" height="3" width="20"></rect>
		<rect x="375" height="9" width="20"></rect>
		<rect x="475" height="23" width="20"></rect>
		<rect x="575" height="37" width="20"></rect>
		<rect x="675" height="7" width="20"></rect>
		<rect x="775" height="11" width="20"></rect>
		<rect x="875" height="19" width="20"></rect>
		<rect x="975" height="41" width="20"></rect>
	</g>

</g>
</svg>
    


</div>
  

