<!--

This file overrides the layout1.html in
/usr/lib/ckan/default/src/ckan/ckan/templates/home/.

In the future, we could likely push a new item to the front page layouts
dropdown in the settings page and rename this file layout4.html.

-->

<div class="outer" style="background:url(../img/background-coruna-lg-gray-17.png) no-repeat left bottom">
  
    <div class="container">
      <div class="row row1">
        <div class="span6 col1">
          <div class="module-content">
            <h1 class="hero-text-heading hero-text">{{ _('A Coruña Open Data Portal')}}</h1>
            <p class="hero-text-description hero-text">{{ _('datos.coruna.gal is the open data catalog about the City of A Coruña and its local government')}}</p>
          </div>
        </div>
        <div class="span4 col1">
          <div class="carousel-controls">
            <a class="carousel-control left" href="#vizcarousel" data-slide="prev"><img src="/img/larrow.svg"></a>
            <a class="carousel-control right" href="#vizcarousel" data-slide="next"><img src="/img/rarrow.svg"></a>
          </div>
          <div id="vizcarousel" class="carousel">
            <div class="spinner"></div>
            <div class="carousel-inner">
              <div class="active item in" data-url="/render/viz-partial-crime" data-slide-number="0"></div>
              <div class="item" data-url="/render/viz-partial-landinventory"></div>              
              <div class="item" data-url="/render/viz-partial-efficiency"></div>
              <div class="item" data-url="/render/viz-partial-burglaries"></div>
              <div class="item" data-url="/render/viz-partial-schoolbudget"></div>
              <div class="item" data-url="/render/viz-partial-grounded"></div>
              <div class="item" data-url="/render/viz-partial-science"></div>              
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>
<!--
<div class="hero inner">
</div>
-->
<!-- eliminado de los main- role main -->  
<div  class="main-search">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% snippet 'home/snippets/search.html' %}               
      </div>
      <div class="span6 col2">
         <div class="module-content box getstarted">
          {% set stats = h.get_site_statistics() %}
          <p>
            {{ _('Start by exploring the ')}}            
            <a href="{{ h.url_for(controller='package', action='search') }}">
            <b>{{ h.SI_number_span(stats.dataset_count) }}</b> 
            {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
            </a> 
            {{ _('and its ')}}
             <a href="{{ h.url_for(controller='package', action='search') }}">
            <b>{{ h.cdc_theme_resource_count() }}</b> 
            {{ _('resource') if h.cdc_theme_resource_count == 1 else _('resources') }}
            </a>
            {{ _('from ')}} 
            <a href="{{ h.url_for(controller='organization', action='index') }}">
            <b>{{ h.SI_number_span(stats.organization_count) }}</b>
            {{ _('organization') if stats.organization_count == 1 else _('organizations') }}
            </a>
            {{ _('in the city about topics classified on ')}}
            <a href="{{ h.url_for(controller='group', action='index') }}">
            <b>{{ h.SI_number_span(stats.group_count) }}</b>
             {{ _('group') if stats.group_count == 1 else _('groups') }}
            </a>             
          </p>
        </div>
      </div>
    </div>
    <div class="row row2">
      <div class="span12 col1">
        {% set tags = h.get_facet_items_dict('tags', limit=20) %}
        <div class="module-content tags">
          <h3>{{ _('Popular tags') }}</h3>
          {% for tag in tags %}
          <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">     
        <div class="module-content box">
          <h1 class="browse-heading ">{{ _('Explore by topic')}}</h1>          
              {% for topic in h.cdc_theme_groups() %}
                <a href="/group/{{ topic.name }}" class="browse-topic">
                    <img class="browse-topic-image" src="{{ topic.image_display_url or '/img/icons-document.svg' }}">
                  <div class="browse-topic-title">
                    {{ h.get_translated(topic, 'title') or topic.display_name }}                   
                  </div>
<!-- datasets count -->                    
                  {% if topic.package_count %}
                      <span class="count"> {{ topic.package_count }} </span>
                     <!-- <span class="count">{{ ungettext('{num} Dataset', '{num} Datasets', topic.package_count).format(num=topic.package_count) }}</span> -->
                  {% elif topic.package_count == 0 %}
                       <span class="count"> 0 </span>
                      <!-- <span class="count">{{ _('0 Datasets') }}</span> -->
                  {% endif %}

                  
                </a>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>

<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        <div class="module-content box">
           <h1 class="browse-heading">{{ _('Explore by organization')}}</h1>
              
<!-- <ul class="media-grid" data-module="media-grid"> -->
<!--        <ul> -->
  {% for topic in h.cdc_theme_organizations() %}
               <a href="/organization/{{ topic.name }}" class="browse-topic">
                    <img class="browse-topic-image" src="{{ topic.image_display_url }}">
                  <div class="browse-topic-title">
                    {{ topic.display_name }}
                  </div>
                 
                 
                 <!-- datasets count -->                    
                  {% if topic.package_count %}
                      <span class="count"> {{ topic.package_count }} </span>
                     <!-- <span class="count">{{ ungettext('{num} Dataset', '{num} Datasets', topic.package_count).format(num=topic.package_count) }}</span> -->
                  {% elif topic.package_count == 0 %}
                       <span class="count"> 0 </span>
                      <!-- <span class="count">{{ _('0 Datasets') }}</span> -->
                  {% endif %}
                 
                </a> 
{% endfor %}

<!-- </ul> -->

        </div>
          
        </div>
      </div>
    </div>
  </div>

<!--

<div class="main-browse front">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        <div class="module-content box">
           <h1 class="browse-heading">{{ _('Explore by collection')}}</h1>
              
        </div>
          
        </div>
      </div>
    </div>
  </div>
-->




<!--
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
-->

<div class="main-featured front">
  
  <!--
  <svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath1" style="fill:#fff" d="M0 0 L50 100 L100 0 Z"></path>
    <path id="trianglePath2" d="M50 100 L100 40 L100 0 Z" style="fill:#444849"></path>
   </svg>
  -->
  
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" width="100%" viewBox="0 0 100 50" style="background-color:white" height="70">
                <polygon points="0,20 30,10 70,30 100,0 100,50 0,50" fill="#ddd"></polygon>
                <polygon points="0,50 30,8 70,48 100,30 100,50" fill="transparent"></polygon>
            </svg>
  
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
       <div class="module-content box">
          <!-- class featured-heading -->
          <h1 class="browse-heading">{{ _('Showcases')}}</h1>    
         
          {% snippet 'home/snippets/showcases.html' %}
          
        </div> 
      </div>
    </div>
  </div>
</div>


<div role="main" class="main-updates front">
  <div class="container">
    <div class="row row2">
      <div class="module-content box">
      <h1 class="browse-heading">{{ _('Datasets')}}</h1>             
          
          <div class="tabs">
            <div class="tab-3">
              <label for="tab3-1">{{ _('Latest datasets') }}</label>
                <input id="tab3-1" name="tabs-three" type="radio" checked="checked">
                <div class="span12 col1">        
                  {% snippet 'home/snippets/latest_datasets.html' %}
                </div>
            </div>
            
            <div class="tab-3">
              <label for="tab3-2">{{ _('Featured popular') }}</label>
              <input id="tab3-2" name="tabs-three" type="radio">   
              <div class="span12 col1">
                {% snippet 'home/snippets/featured_popular.html' %}
              </div>  
            </div> 
            
            <div class="tab-3">
              <label for="tab3-3">{{ _('Top rated') }}</label>
              <input id="tab3-3" name="tabs-three" type="radio">   
              <div class="span12 col1">
                {% snippet 'home/snippets/top_rated.html' %}
              </div>
            </div> 
            
      </div>
    </div>                                 
   </div>
</div>
    
    

    
    


</div>
  

