{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% set group_items = pkg.groups %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <div class="dataset-info">
      <!-- 
       <div class="dataset-list-left-icon">
            {% for item in group_items %}
            <a href="/group/{{item.name|lower}}" fiso-facet="groups" fiso-category="{{item.name|lower}}" data-format="{{item.name|lower}}" class="pull-right group-icon fiso-toggle-category" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{item.title}}">
               <img class=" icon-topic-image" src="{{ item.image_display_url or '/img/icons-document.svg' }}">               
            </a>
            {% endfor %}
       </div>
      -->
      
      <h2>
        {% block page_heading %}
          {{ h.dataset_display_name(pkg) }}
          {% if pkg.state.startswith('draft') %}
            [{{ _('Draft') }}]
          {% endif %}
          {% if pkg.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        {% endblock %}
      </h2>
      
      
    
      
      {% block package_notes %}
        {% if pkg.notes %}
          <div class="notes embedded-content">
            {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
          </div>
          <span></span>
        {% endif %}
           
    </div>
    {% endblock %}


    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

 

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

    {% block package_tags %}
          {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}




{% endblock %}
