{% ckan_extends %}



{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_additional_info', _('Detailed Information'), id=pkg.name) }}
  {% if h.check_access('package_update', {'id':pkg.id }) %}  
      {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
      {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}  
  {% endif %}
{{ h.build_nav_icon('dataset_showcase_list', _('Showcases'), id=pkg.name) }}
{% endblock %}


{% block secondary_content %}
 
 {% block secondary_help_content %}{% endblock %}

 

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_groups %}

    {% set group_items = pkg.groups %}
    <div class="module module-narrow module-shallow context-info">
        <h2 class="module-heading">{{ _('Topics') }}</h2>
        <section class="module-content"> 
            {% for item in group_items %}
            <a href="/group/{{item.name|lower}}" fiso-facet="groups" fiso-category="{{item.name|lower}}" data-format="{{item.name|lower}}" class="group-icon fiso-toggle-category" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{item.title}}">
               <img class="browse-topic-image" src="{{ item.image_display_url or '/img/icons-document.svg' }}">               
            </a>
            {% endfor %}
      </section>
       </div>
  {% endblock %}   

  {% block package_rating %}
 
   {% if pkg %}
         <div class="module module-narrow module-shallow context-info">
           <h2 class="module-heading">{{ _('Rating') }}</h2>
                <section class="module-content">                   
                    {% snippet "rating/snippets/rating.html", package=pkg %}
                </section>
          </div>
    {% endif %}

   {% endblock %} 
  

 {% block package_subscribe %}
        <div class="module module-narrow module-shallow context-info">
          <h2 class="module-heading">{{ _('Subscribe for dataset updates') }}</h2>
          <section class="module-content">
            {% snippet "reminder/snippets/subscription_form.html", package=pkg %}
          </section>
        </div>
 {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}

 {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.name) %}
      {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
    {% endif %}
  {% endblock %}


 {% endblock %}
