{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = h.lang() %}
{% set current_locale = h.get_locales_dict()[current_lang] %}

<div class="lang-nav">  
           
   <ul class="list-unstyled">
    {% for locale in h.get_available_locales() %}
      <li {% if locale == current_lang %}class="active"{% endif %}>
                 {{ current_lang }} {{locale}}
        <a href="{{ h.url_for(current_url, locale=locale) }}">
         {{ (locale) | upper }}  
        </a>&nbsp;
      </li>
    {% endfor %}
  </ul>
</div>
