{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}


{# NUEVO   #}
{% set tag_items = package.tags %}
{% set format_items = h.dict_list_reduce(package.resources, 'format') %}
{% set group_items = package.groups %}

{# NUEVO   #}


<li class="{{ item_class or "dataset-item" }}">
  {% block package_item_content %}
    <div class="dataset-content">
      <h3 class="dataset-heading">
        {% if package.private %}
          <span class="dataset-private label label-inverse">
            <i class="icon-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
        {% if package.get('state', '').startswith('draft') %}
          <span class="label label-info">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="label label-important">{{ _('Deleted') }}</span>
        {% endif %}
         {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      </h3>
      {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
      {% endif %}
      {% if notes %}
        <div>{{ notes|urlize }}</div>
      {% endif %}
    </div>
  
  {#  ***************** NUEVO - PRUEBA ************ #}

    <div class="group-icon-list">
            CATEGORÍAS
            {% for item in group_items %}
            <a href="/dataset/groups/{{item.name|lower}}" fiso-facet="groups" fiso-category="{{item.name|lower}}" data-format="{{item.name|lower}}" class="pull-right group-icon fiso-toggle-category" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{item.title}}">
              <span aria-hidden="true" class="icon-{{item.name|lower}}"> <img class="icon-topic-image" src="{{ item.image_display_url or '/img/icons-document.svg' }}"></span>
            </a>
            {% endfor %}
</div>
  
     {% block package_dates %}
        <ul class="dataset-dates">
          {% if package.record_publish_date %}
            <li>Creado el {{ h.render_datetime(package.record_publish_date, '%d-%m-%Y') }}</li>
          {% endif %}
          {% if package.record_last_modified %}
            <li>Modificado el {{ h.render_datetime(package.record_last_modified, '%d-%m-%Y') }}</li>
          {% else %}
          	<li>Modificado el {{ h.render_datetime(package.metadata_modified, '%d-%m-%Y') or h.render_datetime(package.revision_timestamp, '%d-%m-%Y') or _('unknown') }}</li>
          {% endif %}
        </ul>
    {% endblock %}
  
      
    
     <div class="tags" style="display:none">
          {% for tag in package.tags %}
          <span>{{ tag.name }}</span>
          {% endfor %}
</div>
  
  {#  ***************** NUEVO - PRUEBA ************ #}
  
  
    {% if package.resources and not hide_resources and h.dict_list_reduce(package.resources, 'format') %}
      <ul class="dataset-resources unstyled">
        {% for resource in h.dict_list_reduce(package.resources, 'format') %}
          <li>
            <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}
  

</li>
