@font-face {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 400;
    src: local("Dosis Regular"), local("Dosis-Regular"), url("http://fonts.gstatic.com/s/dosis/v4/xIAtSaglM8LZOYdGmG1JqQ.woff") format("woff");
}

                
@font-face {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 400;
    src: local("Dosis Regular"), local("Dosis-Regular"), url("http://fonts.gstatic.com/s/dosis/v4/xIAtSaglM8LZOYdGmG1JqQ.woff") format("woff");
}

[role=main] .primary{
    width: 75%;
    float:right
}

[role=main] {
  min-height: 0px;
}

.headers {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;   
}
.ogov-masthead {
  background-color: #0083D7;
  min-height: 36px;
 
}

.ogov-masthead .btn, .ogov-masthead .btn:hover, .ogov-masthead .btn:focus {
    
  background-color: transparent;
  font-weight: normal;
  color: white;
}

.account-masthead {
  background: #EBEBEB;
}

.main-search {
  background-color: #eeeeee;
}      

.main-browse {
    
}

 
.main-featured {
/*    background-color: #6e7a81; */
    background-color: #ddd;
  
} 

.main-updates{
      background-color: #eeeeee;
}


      
.logo-footer {
   background-color: #28292a;   
   min-height: 80px;
   color: white;
   padding-top: 10px;
}
.logo-footer .span10 {
   padding-top: 30px;
}

.site-footer{
 background-color: #343434;   
}

.front h1::after {

    left: 25px;
    /* border-bottom: solid 5px #0c9; */
    content: '';
    width: 40px;
    border-bottom: solid 5px #0083D7;
    display: block;
    clear: both;
    position: absolute;
    top:  70px;

}



.resource-item-explore  {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 30px 0px;
   
}

.resource-item-explore li {
  float:left;   
}


.btn-explore{
    border: 1px solid #e5e5e5;
    display: block;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #6E7A81;
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1em;
    padding: 0rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid #0083D7;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 2px solid #0083D7; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 3px solid #0083D7; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }

.tabs .tab-3 {
    width: 33%; }
    .tabs .tab-3 [type="radio"] + div {
      width: 300%;
      margin-left: 300%; }
    .tabs .tab-3 [type="radio"]:checked + div {
      margin-left: -100%; }

    .tabs .tab-3:first-child [type="radio"] + div {
      margin-left: 0; }
    .tabs .tab-3:first-child [type="radio"]:checked + div {
      margin-left: 0%; }


    .tabs .tab-3:last-child [type="radio"] + div {
      width: 300%;  
      margin-left: 0; }
    .tabs .tab-3:last-child [type="radio"]:checked + div {
      margin-left: -200%; }


/*
h1 {
                font-family: Dosis;
                font-size: 24px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                line-height: 26.4px;
}
h3 {
                font-family: Dosis;
                font-size: 14px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                line-height: 15.4px;
}
p {
                font-family: Dosis;
                font-size: 14px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 20px;
}

body {
                font-family: Dosis;
                font-size: 16px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 20px;
}
blockquote {
                font-family: Dosis;
                font-size: 21px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 30px;
}
pre {
                font-family: Dosis;
                font-size: 13px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                line-height: 18.5667px;
}

.resources h3 {
    font-family: Dosis;
                font-size: 20px;
                font-style: bold;
                font-variant: normal;
                font-weight: 500;
        color: #187794;
        line-height: 26.5px;
}

.additional-info  h3{
    font-family: Dosis;
                font-size: 20px;
                font-style: bold;
                font-variant: normal;
                font-weight: 500;
        color: #187794;
        line-height: 26.5px;
}

.dataset-heading a {
    color: #005d7a;
    font-weight: bold;
}

.label[data-format="csv"], .label[data-format*="csv"] {
    background-color: #379805;
}

.label[data-format="json"], .label[data-format*="json"] {
    background-color: #0391b0;
}
*/
.hero { 
  /*background-image: url(./base/images/fondo.png);*/
}


/* Remove the feature image */
/* div.hero section.featured.media-overlay {
display: none;
} */

/* Style up front page */
/* div.hero header {
background-image: url(http://www.coruna.gal/IMG/P_Contenido_1442842574342_1024_800_U_6abc188239196931ebba2cf6e99471.jpg);
height: 220px;
width: 400px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-size: 1.3em;
font-weight: bold;
color: white; 
} */


.banner {
background-color: white;
border: solid silver 1px;
position: static;
color: #313833;
    margin-right: 10px;
}

.count {
    color: gray;
}
