
.account-masthead {
  background: #EBEBEB;
}
.masthead {
  color: #444849;
  background: white;
  border-bottom: 5px #31383c solid;
  min-height: 0px;
}

.masthead .nav > li > a,
.masthead .nav > .active > a {
  color: #444849;
  text-shadow: none;
}

.masthead .navigation .nav-pills li.active a {
  color: white;
}

.account-masthead .account ul li a {
  color: #444849 ;
}

.icon-search {
  color:  #444849;
}

.masthead input[type="text"] {
  color:  #444849;
}

.lang-select label, .lang-select select, .lang-select .lang-container {
  color: white; 
  font-weight: 300;
  font-size: 13px;
}

.lang-select label, .lang-container {
  margin-top: 10px;
}
