
.account-masthead {
  background: #EBEBEB;
}
.masthead {
  color: #444849;
  background: white;
  border-bottom: 5px #31383c solid;
  min-height: 0px;
}

.masthead .nav > li > a,
.masthead .nav > .active > a {
  color: #444849;
  text-shadow: none;
}

.masthead .navigation .nav-pills li.active a {
  color: white;
}

.account-masthead {
  min-height: 70px; 
}
.account-masthead .account ul li a {
  color: #444849 ;
  border-radius: 3px;
  position: relative;
  top: 10px;
 }


.icon-search {
  color:  #444849;
}

.masthead input[type="text"] {
  color:  #444849;
}

.lang-select label, .lang-select select, .lang-select .lang-container {
  color: white; 
  font-weight: 300;
  font-size: 13px;
}

.lang-select label, .lang-select select, .lang-select .lang-container {
  margin-top: 10px;
}

.site-search.simple-input {
  border-bottom: 2px solid #444849;
}

a.tag:hover {
  background-color: #0083D7;
  border: 1px solid silver;
}
.module-content {
 
}

.ogov-nav {
  float: right;
  color: white;
  line-height: 2.5;
}

.ogov-nav ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.ogov-nav  li {
   display: inline;
}

.site-title {
  font-size: 20px;
  font-weight: 300;
  color: #0083D7;
  text-transform: uppercase;
  display: inline;
  padding-left: 5px;
  position: relative;
  top: 10px;
}


.masthead .site-search {
  float: right;
}

.masthead .navigation {
  float: left; 
}

.masthead .nav-collapse {
  float: none; 
}
.logo {
  display: inline;
}

.browse-showcase-image {
  height: 140px;
  margin-bottom: 12px;
}

.icon-topic-image {
  height: 8px;
  margin-bottom: 2px;
} 

