
.account-masthead {
  background: #EBEBEB;
}
.masthead {
  color: black;
  background: white;
}

.masthead .nav > li > a,
.masthead .nav > .active > a {
  color: black;
  text-shadow: none;
}

.masthead .navigation .nav-pills li.active a {
  color: white;
}
